.bandeau {
    display: inline-flex ;
    width: 100% ;
    height: 10vh ;
    margin: 0;
    padding-top : 1vh ;
    padding-bottom:  1vh;
    padding-right: 2vw ;
    padding-left : 2vw ;
    box-shadow: 0px 10px 30px rgb(222, 222, 222) ;
    background-color: white ;
    border:  solid 0px ;
    position: fixed ;
    top: 0px ;
    align-items: center ;
}

.logo{
    width: auto;
    height: 7vh;
    margin : 0;
    margin-right: 1vw ;
    padding: 0;
}

.titre-site {
    font-family : "alegreya Sans Sc", sans-serif ;
    font-size : 2.5rem ;
    font-weight: 500 ;
    font-variant-caps: small-caps ;
}

nav {
    margin-right: 2vw ;
    margin-left: auto ;
}

.navbarlinks {
    display: inline-flex ;
    margin-right: 2vw ;
    margin-left: auto ;
}

h1 {
    font-family: "libertinus sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500 ;
}

body {
    margin : 0;
    padding: 0;
}

.body {
    margin: auto 25vw ;
    margin-top: 25vh;
    margin-bottom: 10vh;
    text-align: justify ;
    padding: 0 ;
}

h6 {
    margin: 0;
    padding-top: 5vh;
}

.headerdescription {
    display: inline-flex;
}

h5 {
    font-size: 12;
    font-style: italic ;
    color : #808080 ;
    margin-right: 3vw ;
    margin-bottom: 0 ;
}

h4 {
    margin-bottom: 0;
    font-family: "Libertinus sans", sans-serif;
    font-size: 2rem;
    font-weight: 300 ;
}

h3 {
    font-family: "Libertinus sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 550;
}

.soustitre {
    margin-left: 8vw;
    font-weight: 500 ;
}

.points {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 2rem ;
}

.paragraphenormal {
    font-family: "cormorant", serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem ;
    padding: 0;
    margin: 0;
    text-indent: 2vw;
}

.headerarticle {
    display: inline-flex ;
    margin: 0;
    padding: 0;
    padding-right: 3vw ;
    font-family: "Libertinus sans", sans-serif ;
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 3vh ;
}

.description {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 600 ;
    font-style: normal;
    color : #808080 ;
}

a {
    font-family: "Libertinus Sans", sans-serif;
    color : black ;
    text-decoration: none ;
    font-weight : bold ;
    font-size: 25 ;
}

li {
    list-style-type: none ;
    padding-right: 2vw ;
}

footer {
    width: 100% ;
    height: 20vh;
    background-color: white ;

}
