body {
    margin : 0;
    padding: 0;
}


header {
    display: inline-flex ;
    width: 100% ;
    height: 10vh ;
    margin: 0;
    padding-right: 2vw ;
    padding-left : 2vw ;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0px 10px 30px rgb(222, 222, 222) ;
    background-color: white ;
    border:  solid 0px ;
    position: fixed ;
    top: 0px ;
    align-items: center ;
}

header a{
    font-family: "Libertinus Sans", sans-serif;
    color : black ;
    text-decoration: none ;
    font-weight : bold ;
    font-size: 25 ;
}


.logo{
    width: auto;
    height: 7vh;
    margin : 0;
    margin-right: 1vw ;
    padding: 0;
}

.titre-site {
    font-family : "alegreya Sans Sc", sans-serif ;
    font-size : 2.5rem ;
    font-weight: 500 ;
    font-variant-caps: small-caps ;
    color: #6903AF;
}

nav {
    display: inline-flex;
    margin-right: 2vw ;
    margin-left: auto ;
}

.navbarlinks {
    display: inline-flex ;
    margin-right: 2vw ;
    margin-left: 2vw ;
    font-family: "libertinus sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500 ;
}

nav {
    height: inherit;
    align-content: center;
}

.divnav {
    height: inherit;
    align-content: center;
    background-color: white;
    transition-property: background-color ;
    transition-duration: 400ms ;
    transition-timing-function: ease-out;
}

.divnav:hover .navbarlinks{
    transform: scale(1.03) ;
    transition: transform 25ms ease-in ;
    color: #6903AF;
}

.divnav:hover {
    background-color: #efefef ;
}

main {
    margin-bottom: 10vh;
    text-align: justify ;
    padding: 0 ;
    padding-top: 15vh;
    padding-bottom: 5vh ;
    margin: auto 15vw ;
    margin-bottom: 5%;
}

/*.bigGrid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns : 1fr 5fr ;
}*/

.languagelink {
    padding: 0;
    margin: 0;
    padding: 0 0 2% 0;
}

.languagelink a {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    padding-right: 5%;
}
.languagelink a:hover{
    text-decoration: underline;
    text-decoration-thickness: 15%;
    color: #6903AF;
}

/*.dates div {
    display: block;
    width: 2px;
    height: 180px;
    background-color: blue;
}*/

/*.dates p::before{
    content: "";
    display: block;
    width: 5px;
    height: 300px;
    
    background-color: #6903AF;
}*/

.wrapper {
    display: inline-flex;
}

/*.Dates p::before {
    content: "";
    display: block;
    width: 10%;
    height: 100px;
    background-color: #6903AF;
}

.Dates p::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #6903AF;
    clip-path: circle(10px);
}*/
.Dates {
    padding-right:5vw;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.line {
    display: block;
    width: 5px;
    height: 50px;
    background-color: #6903AF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.circle {
    display: inline-flex;
    align-items: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #6903AF;
    border: solid 5px white;
}

/*.Dates p {
    display: inline-flex;
    margin: 0;
    padding: 0;
    /*align-items: center;
    justify-content: center;
}

.Dates p::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #6903AF;
    clip-path: circle(6px);
}*/


.section {
    padding: 5%;
    padding-top: 2%;
    margin-bottom: 5%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 15px rgb(214, 214, 214);
}

.subsection {
    margin: 0;
    padding: 0;
    display: grid ;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    padding-top: 5vh;
}

.subsection div {
    margin: 0;
    padding: 0;
    padding-right: 5%;
}

img {
    padding : 0;
    margin: 0;
    max-width: 100%;
    max-height:100%;
    height:auto;
    width: 20vw;
}

.section a {
    color : blue ;
    font-size: 1.25rem;
}
.section a:hover {
    text-decoration: underline;
}

h2{
    font-family: "Libertinus sans", sans-serif;
    font-size: 1.7rem ;
    font-weight: 700;
    margin: 0;
    padding-top: 5vh;
    padding-bottom: 0;
}

h3{
    font-family: "Libertinus sans", sans-serif;
    font-size: 1.3rem ;
    font-weight: 550;
    margin: 0;
    padding-bottom: 0;
}

h4{
    font-family:"Libertinus sans", sans-serif ;
    font-size: 1.3rem;
    font-weight : 500 ;
    color : grey ;
    margin:0;
    padding: 0;
    line-height: 2;
}

p{
    padding: 0;
    margin: 0;
    font-family: "cormorant", serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
}

p a{
    padding :0;
}


footer {
    display: inline-flex;
    width: 100% ;
    height: 20vh;
    background-color: rgb(237, 237, 237) ;
    box-shadow: 0px -20px 20px rgb(237, 237, 237) ;
    align-items: center ;
    justify-content: center;

}

footer p,a {
    padding-left: 2vw ;
    padding-right: 2vw ;
    font-family: "Libertinus sans", sans-serif;
    font-size: 1rem ;
    font-weight: 500 ;
    color : black ;
    text-decoration: none;
    transition: text-decoration ;
    
}

footer p{
    border-right: solid ;
    border-color: rgb(198, 198, 198) ;
    border-width: 0.1rem ;
}

.mail {
    border-right: solid ;
    border-color: rgb(198, 198, 198) ;
    border-width: 0.1rem ;
}

footer a:hover {
    text-decoration: underline;
}
