body {
    margin : 0;
    padding: 0;
}


header {
    display: inline-flex ;
    width: 100% ;
    height: 10vh ;
    margin: 0;
    padding-right: 2vw ;
    padding-left : 2vw ;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0px 10px 30px rgb(222, 222, 222) ;
    background-color: white ;
    border:  solid 0px ;
    position: fixed ;
    top: 0px ;
    align-items: center ;
}

.logo{
    width: auto;
    height: 7vh;
    margin : 0;
    margin-right: 1vw ;
    padding: 0;
}

.titre-site {
    font-family : "alegreya Sans Sc", sans-serif ;
    font-size : 2.5rem ;
    font-weight: 500 ;
    font-variant-caps: small-caps ;
}

nav {
    display: inline-flex;
    margin-right: 2vw ;
    margin-left: auto ;
}

.navbarlinks {
    display: inline-flex ;
    margin-right: 2vw ;
    margin-left: 2vw ;
    font-family: "libertinus sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500 ;
}

nav {
    height: inherit;
    align-content: center;
}

.divnav {
    height: inherit;
    align-content: center;
    background-color: white;
    transition-property: background-color ;
    transition-duration: 400ms ;
    transition-timing-function: ease-out;
}

.divnav:hover .navbarlinks{
    transform: scale(1.03) ;
    transition: transform 25ms ease-in ;
}

.divnav:hover {
    background-color: #efefef ;
}

a {
    font-family: "Libertinus Sans", sans-serif;
    color : black ;
    text-decoration: none ;
    font-weight : bold ;
    font-size: 25 ;
}

main {
    margin: auto 25vw ;
    margin-top: 25vh;
    margin-bottom: 10vh;
    text-align: justify ;
    padding: 0 ;
    padding-top: 15vh;
    padding-bottom: 5vh ;
}

main img{
    max-width: 100%;
    max-height: 100%;
}

h6 {
    font-family: "Libertinus sans", sans-serif;
    font-size: 1.3rem ;
    margin: 0;
    padding-top: 5vh;
    padding-bottom: 0;
    transition: text-decoration ;
}
h6:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
}

.headerdescription {
    display: inline-flex;
}

h5 {
    font-family: "Libertinus sans", sans-serif;
    font-size: 14;
    font-weight: 550 ;
    font-style: italic ;
    color : #808080 ;
    margin-right: 3vw ;
    margin-bottom: 0.5rem ;
    padding: 0;
    margin-top: 1rem;
}

.description {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 600 ;
    font-style: normal;
    font-size: 18;
    color : #808080 ;
}

.description_pdf {
    padding: 0;
    margin: 0;
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 600 ;
    font-style: normal;
    font-size: 18;
    color : #808080 ;
    
}

h4 {
    margin-bottom: 0;
    font-family: "Libertinus sans", sans-serif;
    font-size: 2rem;
    font-weight: 300 ;
}

h3 {
    font-family: "Libertinus sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 550;
}

.soustitre {
    margin-left: 8vw;
    font-weight: 500 ;
}

.points {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 2rem ;
}

.paragraphenormal {
    padding: 0;
    margin: 0;
    font-family: "cormorant", serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem ;
    text-indent: 2vw;
}

.headerarticle {
    display: inline-flex ;
    margin: 0;
    padding: 0;
    font-family: "Libertinus sans", sans-serif ;
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 3vh ;
}

.headerarticle p{
    display: inline-flex;
    padding-right: 3vw ;
}

.headerarticle a {
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: blue;
}
.headerarticle a:hover {
    text-decoration: underline ;
}


li {
    list-style-type: none ;
}

footer {
    display: inline-flex;
    width: 100% ;
    height: 20vh;
    background-color: rgb(237, 237, 237) ;
    box-shadow: 0px -20px 20px rgb(237, 237, 237) ;
    align-items: center ;
    justify-content: center;

}

footer p,a {
    padding-left: 2vw ;
    padding-right: 2vw ;
    font-family: "Libertinus sans", sans-serif;
    font-size: 1rem ;
    font-weight: 500 ;
    transition: text-decoration ;
}

footer p{
    border-right: solid ;
    border-color: rgb(198, 198, 198) ;
    border-width: 0.1rem ;
}

.mail {
    border-right: solid ;
    border-color: rgb(198, 198, 198) ;
    border-width: 0.1rem ;
}

footer a:hover {
    text-decoration: underline;
}


ul{
    margin: 0;
    padding: 0;
}
